.project-button {
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid #4f4f4f;
    border-radius: 10px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: fit-content;
    margin: 10px auto;
    z-index: 1;
    font-size: 23px;
   }
   
   .project-button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .project-button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .project-button:hover {
    color:  black;
   }
   
   .project-button:hover:before {
    top: -35%;
    background: linear-gradient(#223423, #984953);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .project-button:hover:after {
    top: -45%;
    background: linear-gradient(#69ff71, #4befe2);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

@media screen and (max-width: 600px) {
    .project-button{
        font-size: 17px;
    }
}
@media screen and (max-width: 500px) {
    .project-button{
        font-size: 17px;
        padding: 12px ;
    }
}